[Unit]
Description=Run Gracenote EPG update (incremental grab) every 6 hours

[Timer]
OnCalendar=*-*-* 00/6:00:00
Persistent=true

[Install]
WantedBy=timers.target
